@page "/mapimage-key"
@using System.Text;

<input type="text" placeholder="Latitude" @bind="Latitude"/>
<input type="text" placeholder="Longitude" @bind="Longitude"/>
<input type="text" placeholder="SubscriptionKey" @bind="SubscriptionKey"/>
<br/>
<br/>
<button class="btn btn-success" @onclick="GetTile">Get Tile</button>
<br/>
<br/>
@if (isLoading)
{
    <div class="spinner-border text-primary" role="status"></div>
}
<br/>
@if (PngImage != "")
{
    <div class="row">
        <div style="width: 300px; height: 300px;">
            <img src="@PngImage" height="300" width="300">
        </div>
    </div>
}

@code {
    string PngImage = string.Empty;
    bool isLoading = false;
    string SubscriptionKey = "";

    string Latitude = "-15.793889";
    string Longitude = "-47.882778";

    public async Task GetTile()
    {
        PngImage = string.Empty;
        isLoading = true;

        using (var client = new System.Net.Http.HttpClient())
        {
            var sb = new StringBuilder();

            // API References: Get Map Static Image
            // https://learn.microsoft.com/en-us/rest/api/maps/render/get-map-static-image
            sb.Append("https://atlas.microsoft.com/map/static/png?");
            sb.Append($"subscription-key={SubscriptionKey}&");
            sb.Append("api-version=1.0&layer=basic&style=main&zoom=10&");
            sb.Append($"center={Longitude},%20{Latitude}&");
            sb.Append($"pins=default%7C%7C{Longitude}+{Latitude}");

            var url = new Uri(sb.ToString());
            var response = await client.GetAsync(url);
            var responseContent = await response.Content.ReadAsByteArrayAsync();

            PngImage = $"data:image/png;base64,{Convert.ToBase64String(responseContent)}";

            isLoading = false;
            StateHasChanged();
        }
    }

}
